<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://xwp.one" target="_blank">website</a>
        | <a href="https://discord.gg/SmcFCPu" target="_blank">discord</a>
        | <a href="https://miningpoolstats.stream/swap" target="_blank">pools</a>
        | <a href="https://github.com/swap-dev/swap/releases/latest" target="_blank">wallet</a>
        | <a href="https://github.com/swap-dev" target="_blank">github</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | swap version: {{monero_version_full}}
    </h6>
</div>
</body>
</html>
