<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://discord.gg/SmcFCPu">discord</a>
        | <a href="https://miningpoolstats.stream/swap">pools</a>
        | <a href="https://mega.nz/#!7xQEiIKC!BUznQOrkpPWTQTU8sajNvr1ITCGf1guI5u0OhGqShIE">w64 gui</a>
        | <a href="https://github.com/swap-dev">github</a>
        | <a href="https://gitlab.com/swapproject">gitlab</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | swap version: {{monero_version_full}}
    </h6>
</div>
</body>
</html>
