body {
    margin: 20px;
    padding: 0;
    color: #a3acde;
    background-color:#151933;
    font-family: Sans-Serif;
	font-weight: 100;
}

textarea {
    color: #fff;
    background-color:#151933;
    border: 2px solid #a3acde;
    border-radius: 0.25rem;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.center {
    margin: auto;
    width: 96%;
    padding: 10px;
}

tr, li, #pages, .info {
    font-family: "Lucida Console", Monaco, monospace;
    font-size  : 12px;
    height: 22px;
}

#pages
{
    margin-top: 15px;
}

td {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #a3acde;
    font-weight: 800;
}

a:visited {
    text-decoration: none;
    color: #a3acde;
    font-weight: 800;
}

a:active {
    text-decoration: none;
    color: #a3acde;
    font-weight: 800;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

form {
    display: inline-block;
    text-align: center;
}

.style-1 input[type="text"] {
    padding: 2px;
    background-color:#151933;
    border:2px solid #a3acde;
    border-radius: 0.25rem;
    color:white;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border:2px solid #a3acde;
    border-radius: 0.25rem;
    color:white;
}

.search input[type="text"] {
    padding: 0.55rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color:#151933;
    border:2px solid #a3acde;
    border-radius: 0.25rem;
    color:white;
    vertical-align: middle;
    width: 43rem;
}

.search input[type="text"]:focus,
.search input[type="text"].focus {
    border:2px solid #a3acde;
    border-radius: 0.25rem;
    color:white;
}

.style-1 input[type="submit"] {
    display: inline;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.55rem 1.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    border: 2px solid #6d70ff;
    border-radius: 0.25rem;
    z-index: 2;
    background-color: transparent;
    background-image: none;
    color: #a3acde;
    margin: .5rem;
}

.style-1 input[type="submit"]:hover,
.style-1 input[type="submit"].focus {
    color: #fff;
    background-color: #6d70ff;
    border-color: #6d70ff;
    cursor: pointer;
}

.tabs {
    position: relative;
    min-height: 220px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    display: inline;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.55rem 1.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    border: 2px solid #a3acde;
    border-radius: 0.25rem;
    z-index: 2;
    background-color: transparent;
    background-image: none;
    color: #a3acde;
    margin: 0 .5rem 0 0;
}

.tab label:hover {
    color: #fff;
    background-color: #a3acde;
    border-color: #a3acde;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 40px;
    left: 0;
    background: #151933;
    right: 0;
    bottom: -20px;
    padding: 20px;
    border: 2px solid #a3acde;
    border-radius: 0.25rem;
}

[type=radio]:checked ~ label {
    display: inline;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.55rem 1.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    border: 2px solid #a3acde;
    border-radius: 0.25rem;
    z-index: 2;
    background-color: #a3acde;
    background-image: none;
    color: #fff;
    margin: 0 .5rem 0 0;
}

[type=radio]:checked ~ label:hover {
    color: #fff;
    background-color: #a3acde;
    border-color: #a3acde;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    display: inline-block;
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    background-color: transparent;
    color: #a3acde;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

label#show-decoded-inputs:hover {
    color:#fff;
}

div#decoded-inputs{
    display: none;
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}
